services:
  minecraft:
    build:
      context: .
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    container_name: ${CONTAINER_NAME}
    ports:
      - "${MC_PORT}:25565"
    environment:
      EULA: "${EULA}"
      SERVER_TYPE: "${SERVER_TYPE}"
      JVM_OPTS: "${JVM_OPTS}"
    volumes:
      - ./minecraft/config:/data/config
      - ./minecraft/world:/data/world
      - ./minecraft/mods:/data/mods
      - ./minecraft/resourcepacks:/data/resourcepacks
      - ./minecraft/logs:/data/logs
    restart: ${RESTART_POLICY}
    stdin_open: true
    tty: true
